* {
    font-family: "League Spartan", sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

header {
    background-image: linear-gradient(to right, rgb(58, 71, 77), rgb(10, 131, 183));
    padding: 1rem 0 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

nav a {
    flex: 1 1 auto;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 1rem;
    color: rgb(214, 217, 218);
}
nav a:hover {
    background-color: rgb(214, 217, 218);
    color: rgb(41, 48, 51);
    font-weight: 900;
}

main {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    width: 95%;
    margin: 2rem auto;
    column-gap: 10px;
}

.card {
    border: 1px solid rgb(41, 48, 51);
    border-radius: 10px;
}

#content1 {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}

#content1 img {
    width: 12rem;
    grid-column: 2 / 3;
    justify-self: center;
}

#content1 #text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#country {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#text h3 {
    margin: auto 2em 0.5em;
    border-bottom: 1px solid black;
}

figure {
    margin: auto 10px auto 0;
    align-self: center;
}

figure img {
    max-width: 100%;
}

figcaption {
    font-size: smaller;
    text-align: center;
}

.content {
    padding: 1em;
}

.card h2 {
    background-image: linear-gradient(to right, rgb(58, 71, 77), rgb(10, 131, 183));
    margin: 0;
    padding: 0.5rem;
    border-radius: 10px 10px 0 0;
}

footer  {
    background-image: linear-gradient(to right, rgb(58, 71, 77), rgb(10, 131, 183));
    padding: 0.5rem;
    text-align: center;
}

#content2 {
    height: 85%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content2 li {
    list-style-type: circle;
    line-height: 2;
}

#lastModified {
    color: rgb(236, 243, 24);
}