@media only screen and (min-width: 700px){
    #navigation, #navigation.open {
        display: flex;
        background-color: #3ed1c7;
        flex-direction: row;
        grid-column: auto;
    }

    #menu {
        display: none;
    }

}