body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(153, 150, 150);
    padding: 1rem;
    background-color: rgb(199, 233, 233);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: aliceblue;
}